node_modules/
log/
influx/
backup/
localdb/
nga/


iec104/
IEC61850/
opcua/
rcp/
rct/
Reporting/
sounds/
TIA_Projects/
xls_report/

*.sqlite-*
*.bak
*.tmp
*.rptdesign
*.wsdl
*.xltm
*.xls
*.lock

dbase.touch
dbase.status
event.status
